<div class="dashboard-nav">
  <%= link_to root_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 64 64"><title>home-3</title><g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" fill="none" stroke="#EFEFEF" stroke-miterlimit="10"><polyline points="2 28 32 4 62 28" stroke-linecap="butt" stroke="#EFEFEF"></polyline><polyline points="26 60 26 43 38 43 38 60" stroke-linecap="butt"></polyline><polyline points="10 30 10 60 54 60 54 30"></polyline><rect x="27" y="25" width="10" height="10"></rect><line x1="14" y1="18.4" x2="14" y2="8" stroke-linecap="butt" stroke="#EFEFEF"></line></g></svg>
  <% end %>
</div>

<div class="col-xs-12 col-lg-5 mx-auto">
  <%= simple_form_for @property do |f| %>
    <%= f.input :title, input_html: { autocomplete: "off" } %>
    <%= f.input :location, input_html: { autocomplete: "off" } %>
    <div class="d-flex justify-content-between">
      <%= f.input :number_of_bedrooms, wrapper_html: { class: "col-lg-6 pl-0" } %>
      <%= f.input :number_of_bathrooms, wrapper_html: { class: "col-lg-6 pr-0" } %>
    </div>
    <%= f.input :price, label: "Price ($)" %>
    <%= f.input :description, input_html: { id: "description" } %>
    <div class="col-xs-12 col-lg-6 px-0">
      <%= f.input :main_photo, as: :file %>
    </div>
    <div class="col-xs-12 col-lg-6 px-0">
      <%= f.input :photos, as: :file, label: "Additional photos", input_html: { multiple: true } %>
    </div>
    <%= f.submit class: "btn-black" %>
  <% end %>
</div>